# Environment variables
.env

# virtual environment
venv/
env/
myenv/

# logs
logs/

# data
data/

# results
results/
test_results/


# __pycache__
__pycache__/

# .DS_Store
.DS_Store

# ideas
ideas/
.idea/

# data
data/
*.fasta
*.pdb
*.cif
*.cif.gz
*.cif.gz.part
*.cif.gz.part.1
*.cif.gz.part.2
*.cif.gz.part.3
*.cif.gz.part.4